name: PR build CodeArtifact plugin

on:
  pull_request:

permissions:
  contents: write

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'temurin'

      # https://github.com/gradle/actions/tree/main/setup-gradle
      - name: 'Set up Gradle'
        uses: 'gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2' # v4

        # https://github.com/gradle/actions/tree/main/dependency-submission
      - name: "Generate and submit dependency graph"
        uses: "gradle/actions/dependency-submission@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2" # v4
        env:
          DEPENDENCY_GRAPH_EXCLUDE_PROJECTS: "^:(build-logic|buildSrc|.*[Tt]test.*)"
          DEPENDENCY_GRAPH_EXCLUDE_CONFIGURATIONS: ".*[Tt]est.*Classpath"

      - name: Build
        run: ./gradlew build
